.container > div {
    display: inline-block;
    /*margin-right: 45%;*/
}

h2, h1 {
    text-align: center;
}

.enemy {
    float: right;
}

#turn {
    color: gold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}